html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color:#fafafa;
}

#TitleBar {
    padding: 1px;
    background: #eeeeee;
    padding-left: 1em;
    
}

#TitleBar a {
    text-decoration: none;
    color: black;
}

.ArticlePreview {
    position: relative;
    top: 80px;
    text-align: center;
    background-color:#ffffff;
}

#Container {
    position: relative;
    min-height: 100%;
}

#ArticleContent {    
    position: relative;
    left: 206px;
    width: calc(100% - 412px);
    word-wrap: break-word;
    padding: 10px;
    padding-bottom: 150px;   /* Height of the footer + 100 */
    background-color: #ffffff;
}

#leftbar {
    position: fixed;
    top: 110px;
    left: 3px;
    width: 200px;
    text-align: center;
}

#rightbar {
    top: 110px;
    position: fixed;
    width: 200px;
    right: 3px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1em);
    height: 50px;   /* Height of the footer */
    background: #eeeeee;
    padding-left: 1em;
}

/* Article previews use the full width on mobile devices */
@media screen and (max-width: 1000px) {	
	#rightbar,#leftbar {
        display: none;
        visibility: hidden;
    }
    
    #ArticleContent {
        left: 10px;
        width: calc(100% - 20px);
    }
}
